@import url(https://themes.googleusercontent.com/fonts/css?kit=UC3ZEjagJi85gF9qFaBgIES9-nLa8enI5V3mGiScXDU);

        .lst-kix_ensk44rktmd8-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_ensk44rktmd8-1>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_ensk44rktmd8-0 {
            list-style-type: none
        }

        ul.lst-kix_ensk44rktmd8-1 {
            list-style-type: none
        }

        .lst-kix_ensk44rktmd8-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_ensk44rktmd8-3>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_ensk44rktmd8-6 {
            list-style-type: none
        }

        ul.lst-kix_ensk44rktmd8-7 {
            list-style-type: none
        }

        ul.lst-kix_ensk44rktmd8-8 {
            list-style-type: none
        }

        ul.lst-kix_ensk44rktmd8-2 {
            list-style-type: none
        }

        ul.lst-kix_ensk44rktmd8-3 {
            list-style-type: none
        }

        ul.lst-kix_ensk44rktmd8-4 {
            list-style-type: none
        }

        ul.lst-kix_ensk44rktmd8-5 {
            list-style-type: none
        }

        .lst-kix_ensk44rktmd8-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_ensk44rktmd8-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_ensk44rktmd8-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_ensk44rktmd8-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_ensk44rktmd8-5>li:before {
            content: "\0025a0   "
        }

        ol {
            margin: 0;
            padding: 0
        }

        table td,
        table th {
            padding: 0
        }

        .c20 {
            border-right-style: solid;
            padding: -2.2pt -2.2pt -2.2pt -2.2pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 33.8pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c34 {
            border-right-style: solid;
            padding: -2.2pt -2.2pt -2.2pt -2.2pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 267pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c45 {
            border-right-style: solid;
            padding: -2.2pt -2.2pt -2.2pt -2.2pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 162pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c53 {
            border-right-style: solid;
            padding: -2.2pt -2.2pt -2.2pt -2.2pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 568.5pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c33 {
            border-right-style: solid;
            padding: -2.2pt -2.2pt -2.2pt -2.2pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 162pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c17 {
            border-right-style: solid;
            padding: -2.2pt -2.2pt -2.2pt -2.2pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 384pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c2 {
            border-right-style: solid;
            padding: -2.2pt -2.2pt -2.2pt -2.2pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 267.8pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c37 {
            border-right-style: solid;
            padding: -9.4pt -9.4pt -9.4pt -9.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 162pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c31 {
            border-right-style: solid;
            padding: -9.4pt -9.4pt -9.4pt -9.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 384pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c1 {
            border-right-style: solid;
            padding: -2.2pt -2.2pt -2.2pt -2.2pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 384pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }

        .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 3pt;
            font-family: "Times New Roman";
            font-style: normal
        }

        .c46 {
            margin-left: 5.9pt;
            padding-top: 0.7pt;
            text-indent: -5.9pt;
            padding-bottom: 0pt;
            line-height: 1.0399881601333618;
            text-align: left;
            margin-right: 15.3pt
        }

        .c28 {
            margin-left: 9pt;
            padding-top: 1.2pt;
            text-indent: -9pt;
            padding-bottom: 0pt;
            line-height: 0.9920254349708557;
            text-align: left;
            margin-right: -2.2pt
        }

        .c48 {
            margin-left: 24.5pt;
            padding-top: 0.7pt;
            text-indent: -23.9pt;
            padding-bottom: 0pt;
            line-height: 1.0488232374191284;
            text-align: left;
            margin-right: 15.3pt
        }

        .c16 {
            -webkit-text-decoration-skip: none;
            font-weight: 700;
            text-decoration: underline;
            vertical-align: baseline;
            text-decoration-skip-ink: none;
            font-size: 14pt;
            font-family: "Playfair Display"
        }

        .c40 {
            margin-left: 9pt;
            padding-top: 1.1pt;
            text-indent: -9pt;
            padding-bottom: 0pt;
            line-height: 1.0071717500686646;
            text-align: left;
            margin-right: -2.2pt
        }

        .c6 {
            margin-left: 9pt;
            padding-top: 1.6pt;
            text-indent: -9pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left;
            margin-right: -2.2pt
        }

        .c25 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c10 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c35 {
            margin-left: 24.5pt;
            padding-top: 0.7pt;
            text-indent: -23.9pt;
            padding-bottom: 0pt;
            line-height: 1.0488232374191284;
            text-align: right
        }

        .c41 {
            -webkit-text-decoration-skip: none;
            font-weight: 700;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            font-size: 14pt;
            font-family: "Playfair Display"
        }

        .c12 {
            margin-left: 24.5pt;
            padding-top: 1.6pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left;
            height: 11pt
        }

        .c13 {
            -webkit-text-decoration-skip: none;
            font-weight: 700;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            font-size: 13pt;
            font-family: "Playfair Display"
        }

        .c15 {
            padding-top: 1.1pt;
            padding-bottom: 0pt;
            line-height: 1.0362521409988403;
            text-align: left;
            margin-right: -2.2pt;
            height: 11pt
        }

        .c11 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: right
        }

        .c9 {
            margin-left: 24.5pt;
            padding-top: 0.7pt;
            text-indent: -18.7pt;
            padding-bottom: 0pt;
            line-height: 1.0399881601333618;
            text-align: right
        }

        .c36 {
            padding-top: 1.5pt;
            padding-bottom: 0pt;
            line-height: 1.0071717500686646;
            text-align: left;
            margin-right: 74.8pt
        }

        .c23 {
            -webkit-text-decoration-skip: none;
            color: #000000;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            font-style: normal
        }

        .c51 {
            padding-top: 0.7pt;
            padding-bottom: 0pt;
            line-height: 1.0488232374191284;
            text-align: left;
            margin-right: -2.2pt
        }

        .c22 {
            margin-left: 0.6pt;
            padding-top: 2.2pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c26 {
            margin-left: 0.1pt;
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c4 {
            color: #000000;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-style: normal
        }

        .c52 {
            margin-left: 23.8pt;
            padding-top: 1.5pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c18 {
            padding-top: 1.6pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c7 {
            border-spacing: 0;
            border-collapse: collapse;
            margin-right: auto
        }

        .c21 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: center
        }

        .c42 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c39 {
            font-weight: 700;
            text-decoration: none;
            font-size: 14pt;
            font-family: "Playfair Display"
        }

        .c43 {
            font-weight: 400;
            text-decoration: none;
            font-size: 4pt;
            font-family: "Arial"
        }

        .c29 {
            margin-left: 0.4pt;
            border-spacing: 0;
            border-collapse: collapse;
            margin-right: auto
        }

        .c47 {
            font-weight: 700;
            font-size: 17pt;
            font-family: "Playfair Display"
        }

        .c8 {
            font-size: 16pt;
            font-family: "Playfair Display";
            font-weight: 700
        }

        .c27 {
            background-color: #ffffff;
            max-width: 546.1pt;
            padding: 32.6pt 34.8pt 79.5pt 31pt
        }

        .c50 {
            font-size: 14pt;
            font-family: "Playfair Display";
            font-weight: 700
        }

        .c24 {
            font-weight: 400;
            font-family: "Trebuchet MS"
        }

        .c38 {
            color: #000000;
            font-style: normal
        }

        .c3 {
            font-weight: 400;
            font-family: "Times New Roman"
        }

        .c44 {
            margin-left: 9pt;
            text-indent: -9pt
        }

        .c49 {
            text-decoration: none;
            font-size: 1pt
        }

        .c14 {
            font-weight: 700;
            font-family: "Times New Roman"
        }

        .c30 {
            font-size: 3pt
        }

        .c19 {
            vertical-align: baseline
        }

        .c5 {
            height: 0pt
        }

        .c32 {
            height: 11pt
        }

        .title {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 36pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 18pt;
            color: #666666;
            font-size: 24pt;
            padding-bottom: 4pt;
            font-family: "Georgia";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        h1 {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-weight: 700;
            font-size: 18pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 14pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }