.terraform/
*.hcl
*.tfstate
*.backup
deploy_* 
logs 
logFile
deploy
**.terraform
.terraform.tfstate.lock.info

# TODO: create deployment file artifacts for GHA with GitSHA suffix

# local build files
event.json
secrets
deployment/aws/terraform/s3/s3deploy
deployment/aws/terraform/waf/wafDeploy
.github/scripts/services.json
